.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--green4);
    color: #fff;
    padding: 2rem 0;
    margin-top: 10rem;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  
  
  
  .footer__copyright {
    font-size: 0.9rem;
    font-weight:700;
   
  }
  