.navbar{
    background-color: var(--green4);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
}
.navbar ul, .navbar li, .navbar h1, .navbar a {
    color: var(--green1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.navbar li{
    cursor: pointer;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    
}

.navbar .logo {
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 4rem;
    cursor: pointer;
    
}

.navbar li:hover {
    transform: scale(1.1);
    font-weight: bold;
}
.login {
    margin-left: 30px;
    padding-right: 2rem;
    
}

.logout {
   
    
    
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    }
    
.logout:hover {
    background-color: var(--green3); /* Change to a darker shade on hover */
}
      
@media screen and (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem 0;
    }
  
    .navbar ul {
      width: 100%;
      align-items: center;
      gap: 0.2rem;
      justify-content: flex-start;
      flex-wrap: wrap; /* Allow items to wrap onto a new line */
    }
  
    .login {
      margin-left: 0;
      order: 2; /* Set the order to appear after other elements */
      width: 100%; /* Ensure full width for login/register button */
      text-align: center; /* Center the button */
    }
  }
  